<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            harikrishna jangam

        </h1>
        <h1 style="color:merun rgb(135, 58, 58) ;">hello my dear friends </h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, minus ex necessitatibus cumque quaerat non repudiandae, recusandae, laborum magni nisi accusantium vero impedit? Quos sequi vero itaque deleniti enim minus.
    </center>
    <h1 style="color:blue ;">good morning all my dear friends</h1>
    <h1 style="color:yellow ;">every django wants practice</h1>
    <center>
        <tr>
            <th style="color:aqua ;">
                <td style="color:rgb(192, 248, 255) ;">0011</td>
                <td>533</td>
            </th>
        </tr>
    </center>
    <h1><marquee behavior="scroll" direction="left">hai how are people</marquee></h1>
    <h2 style="color:blue ;"><marquee behavior="scroll" direction="down">hello</marquee></h2>
    <center><h1 style="color:indigo ;"><marquee behavior="scroll" direction="up">hello i am beautiful</marquee></h1></center>
    <center>
        <h1 style="color:red ;">
            <marquee behavior="scroll" direction="happy today all of you"></marquee>
        </h1>
    </center>
    <p style="color:violet ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio numquam sint accusamus incidunt itaque deleniti cumque officiis labore officia laudantium dolore qui laborum non maiores asperiores, eum ut mollitia suscipit.</p>
</body>
</html>